# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]

# ignore Emacs backup files
*~

# ignore Python byte-compiled files
*.pyc

# ignore log files
*.log
*.csv
*.output
*.sh_output
*.zip

venv
