click
dataclasses
dateparser
Flask
Flask-MySQLdb
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mysqlclient
numpy
pandas
plotly
PyMySQL
python-dateutil
pytz
six
tenacity
typing_extensions
Werkzeug
zipp
