/* This is a CSS file, not an HTML file, so it has a very different
syntax.  It even has different comment syntax.  Comments begin with
slash-star and end with star-slash.

Summer 2005  Implemented by Scott D. Anderson
Fall 2006  Added width constraint for body, but only for screen media.

*/

/* The following font attributes will apply to the whole document, unless
overridden. */

@media screen {
BODY {
   font-family: Verdana, Arial, sans-serif;
   font-size:  medium;
   width: auto;
   max-width: 55em;
   }
}

@media print {
BODY {
   font-family: "Times New Roman", "Times", serif;
   font-size:  10pt;
   width: auto;
   }
}

/* The following means that all the header tags will share these
properties. */

H1, H2, H3, H4, H5, H6 {
    font-family: Verdana, Arial, sans-serif;
    color: teal;
    }

/* The following apply to particular header tags.  */

H1 { font-size: xx-large; }

H2 { font-size: x-large; font-weight: bold; border-bottom: 1px solid teal }

H3 { font-size: large; font-weight: bold }

H4 { font-size: large; font-style: italic }

H5 { font-size: medium; font-weight: bold }

H6 { font-size: medium; font-style: italic }
     
/* Modify the LI tag so that there's a little bit of space after each list
item, except when the list is "class=compact." */

OL LI, UL LI { margin-top: 5pt }

OL.compact LI, UL.compact LI { margin-top: 0pt }

/* The following is useful when we want to switch back to the "normal"
body text within some other environment. */

.body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12pt;
}

table.bordered {
    border-collapse: collapse;
}

.bordered td, .bordered th {
    border: 1px solid black;
    padding: 5px;
}
    
#messages {
    color: red;
    font-weight: bold;
}

#ic_ratios th { text-align: right; }
#ic_ratios td:nth-of-type(1) { text-align: right; }
#ic_ratios td:nth-of-type(2) { text-align: left; }
#ic_ratios td:nth-of-type(3) { text-align: right; }
