<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel='stylesheet' href="{{url_for('static', filename = 'minerva.css')}}">
    <meta name=author content="Scott D. Anderson">
    <title>{{ page_title }}</title>
    {% block head_stuff %} {% endblock %}
</head>
<body>

<p>Minerva Diabetes version {{version}}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}
            
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


{% block main_content %}
<h1>Minerva Project</h1>

{% endblock %}

</body>
</html>
