{% extends "b.html" %}

{% block main_content %}
<h1> Minerva Project </h1>

<p>If you follow the "next" buttons, each page takes you to a corrective insulin event.</p>

<h2> {{page_title}} </h2> 

<form method = "POST" action = "{{script}}">
  <input type = "submit" name = "submit" value = "Next"> 
</form> 

{% if isf_trouble %}
<div id = "error">
  <p>There was some trouble calculating the ISF for this time period due to: <strong>{{isf_trouble}}</strong></p>
</div>

{% else %}

<h2>Calculation</h2>

<p>start bg: <strong>{{details.bg0}}</strong></p>
<p>end bg: <strong>{{details.bg1}}</strong></p>
<p>total bolus: <strong>{{details.bolus}}</strong></p>
<p>ISF: <strong>{{details.isf}}</strong></p>

{% endif %}
  

<div id = "table">
  <style scoped>
    .time { width: 20em; }
 </style>
  <table cellspacing = "10">
    <tr>
      <th>Time</th>
      <th>Corrective Insulin</th>
      <th>BG Value</th>
      <th>CGM Value</th>
      <th>Total Bolus</th>
      <th>ISF Value</th>
      <th>ISF 1hr 40 Value </th> 
    </tr>
    {% for row in rows %}
    <tr align = "center">
      <td class = "time"> {{row.rtime}}</td>
      <td class = "corrective_insulin"> {{row.corrective_insulin}}</td>
      <Td class = "bg"> {{row.bg}} </td>
      <td class = "cgm"> {{row.cgm}} </td>
      <td class = "bolus"> {{row.total_bolus_volume}} </td>
      <td class = "isf"> {{row.ISF}} </td>
      <td class = "isf_rounded"> {{row.ISF_rounded}}</td>
    </tr>
    {% endfor %}

  </table>
</div>

{% endblock %} 
								   
