{% extends "base.html" %}

{% block main_content %}
<h1>Minerva Project</h1>

    <div id="tab1">
        <h2>Insulin-Carb-Glucose display for Supper on {{record_date}}</h2>

        <p>CGM data from {{datarange.min_cgm}} to {{datarange.max_cgm}}</p>
        <p>Insulin_Carb data from {{datarange.min_ic}} to {{datarange.max_ic}}</p>

        <p><a href="{{url_yesterday}}">yesterday</a>
                <form action="{{url_for('plot2',date=None)}}"
                      method="GET">
                <label for="date_human">choose date:
                    <!-- this is for human consumption -->
                    <input id="date_human" type="text" value="{{current_date}}" size=12>
                </label>
                <!-- this gets sent with the request -->
                <input id="date_submitted" name="date" type="hidden">
                <input type="submit">
            </form>
                <a href="{{url_tomorrow}}">tomorrow</a>
        </p>
        <div id="cgmPlot"></div>
        <p>{{table1 | safe}}</p>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            var cgmGraph = {{graphJSON | safe}}
            console.log('data is '+typeof(cgmGraph.data))
            Plotly.plot('cgmPlot', cgmGraph.data, cgmGraph.layout, {showLink: false});
        </script>

	<h2>I:C Ratios</h2>
	<p>Initial I:C <span id="initial_ic">{{calcs.initial_ic}}</span></p>
	<p>Effective I:C <span id="effective_ic">{{calcs.effective_ic}}</span></p>
	<p>Ideal I:C <span id="ideal_ic">ideal</span> based on ISF of <span id="isf_value">isf</span></p>
	<p>ISF: <span id="isf_slider"></span></p>

	<script>
	  var bg_excess_period1 = 111 || {{calcs.bg_excess_period1}};
	  var bg_excess_period2 = 222 || {{calcs.bg_excess_period2}};
	</script>

        <h2 id="toggle_calculations">Click to Show Calculations</h2>
	<ol id="calculations">
          {% for c in calcs %}
          <li>{{c|safe}}</li>
	  {% endfor %}
	</ol>

</div>

{% endblock %}
