{% extends "base.html" %}

{% block main_content %}
<h1>Minerva Project</h1>

    <div id="tab1">
        <h2>Insulin-Carb-Glucose display for Supper on {{record_date}}</h2>

        <p>CGM data from {{datarange.min_cgm}} to {{datarange.max_cgm}}</p>
        <p>Insulin_Carb data from {{datarange.min_ic}} to {{datarange.max_ic}}</p>

        <p><a href="{{url_yesterday}}">yesterday</a>
                <form action="{{url_for('plot2',date=None)}}"
                      method="GET">
                <label for="date_human">choose date:
                    <!-- this is for human consumption -->
                    <input id="date_human" type="text" value="{{current_date}}" size=12>
                </label>
                <!-- this gets sent with the request -->
                <input id="date_submitted" name="date" type="hidden">
                <input type="submit">
            </form>
                <a href="{{url_tomorrow}}">tomorrow</a>
        </p>
        <div id="cgmPlot"></div>
        <p>{{table1 | safe}}</p>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            var cgmGraph = {{graphJSON | safe}}
            console.log('data is '+typeof(cgmGraph.data))
            Plotly.plot('cgmPlot', cgmGraph.data, cgmGraph.layout, {showLink: false});
        </script>

	<h2>I:C Ratios</h2>
	<table class="bordered" id="ic_ratios">
	  <tr>
	    <th>  Initial I:C</th>
	    <td><span id="initial_ic"></span></td>
	    <td>= <span class="meal_carbs"></span> / <span class="initial_insulin"></span></td>
	  </tr><tr>
	    <th>Effective I:C</th>
	    <td><span id="effective_ic"></span></td>
	    <td>= <span class="meal_carbs"></span> /
	      (<span class="initial_insulin">xxx</span> +
		<span class="correction_insulin">yyy</span>)</td>
	  </tr> <tr>
	    <th>    Ideal I:C</th>
	    <td><span id="ideal_ic"></span></td>
	    <td>= <span class="meal_carbs"></span> /
	      (<span class="initial_insulin">xxx</span> +
		<span class="correction_insulin">yyy</span> +
		<span class="desired_extra_insulin">zzz</span>)</td>
	  </tr>
	</table>
	<p>Ideal I:C based on bg excess of
	  <span id="bg_excess_period1"></span> (first 3 hours) 
	  <span id="bg_excess_period2"></span> (next 3 hours).
	  based on ...
	</p>
	<p>ISF: <span id="isf_value"></span><div id="isf_slider"></div></p>

	<script>
	  var initial_ic = {{calcs.initial_ic}};
	  var effective_ic = {{calcs.effective_ic}};
	  var meal_carbs = {{calcs.meal_carbs}};
	  var initial_insulin = {{calcs.initial_insulin}};
	  var correction_insulin = {{calcs.correction_insulin}};
	  var effective_insulin = {{calcs.effective_insulin}};
	  var bg_excess_period1 = {{calcs.bg_excess_period1}};
	  var bg_excess_period2 = {{calcs.bg_excess_period2}};
	  var desired_extra_insulin = 0;
	</script>

        <h2 id="toggle_calculations">Click to Show Calculations</h2>
	<ol id="calculations">
          {% for c in calcs.steps %}
          <li>{{c[2]|safe}}</li>
	  {% endfor %}
	</ol>

</div>

{% endblock %}
