{% extends "b.html" %}

{% block main_content %}

<h1>Insulin and CGM Plots</h1>

<style>
    span { color: red; font-weight: bold; }
</style>

<h2>Data for <span id="span_date">{{start_date}}</span>
    starting at <span id="span_start_time">{{start_time}}</span>
    running for <span id="span_hours">{{hours}}</span> hours</h2>

<!-- <h2>Autoapp Last Update : <span id="span_last_update"></span></h2> -->

<form method="GET" action="{{url_for('plots0')}}">
    <label>start date <input name="input_start_date" type="date"></label>
    <label>start time <input name="input_start_time" type="time"></label>
    <label>duration (hours) <input name="input_duration" type="number" min="1" max="24" step="1"></label>
    <input type="submit" value="change date/time/duration">
</form>

<form method="GET" action="{{url_for('plots0')}}"><input type="submit" value="latest"></form>

<div id="insulinPlot" style="width:100%;max-width:1024px"></div>
<div id="cgmPlot" style="width:100%;max-width:1024px"></div>

<script src="{{url_for('static', filename='plots.js')}}"></script>

<script>
    // this URL is the bare URL. Need to concatenate the start datetime and duration
    const page_url_base = "{{url_for('plots0')}}";
    const data_url_base = "{{url_for('plot_data0')}}";


    // globals
    var start_date_str = "{{start_date}}";
    var start_time_str = "{{start_time}}";
    var start_datetime = to_date(start_date_str+" "+start_time_str);
    var duration_hours = {{hours}};

    // the response to the Ajax request; just for debugging
    var g;

    // globals, to share data and ease debugging
    var start_mins;
    var end_mins;
    var times; 
    var times_str;

    function update_plots(start_date, start_time, hours) {
        let start = to_date(start_date_str, start_time_str);
        start_mins = datetime_to_minutes(start);
        end_mins = start_mins + 60*hours;
        times = timesteps(start_mins, end_mins);
        times_str = times.map(minutes_to_timestr);
        // get data
        console.log("start date: ",start_date, "start_time:", start_time, "duration_hours:", duration_hours);
        const url = data_url(start_date, start_time, duration_hours);
        console.log('fetching data from ',url);
        $.get(url, function (resp) {
            g = resp;
            console.log('got ',resp);
            if(resp.error) {
                alert('Sorry; there was this error '+resp.error)
            }
            const {boluses, prog_basal, actual_basal, extended,
                   dynamic_insulin,
                   cgm,
                   last_autoapp_update,
                  } = resp;
            // Note that there is no timezone information in the last_autoapp_update data;
            // it is just a string from the server
            $("#span_last_update").text(last_autoapp_update);
            update_insulin_plot("insulinPlot", times_str, resp);
            update_cgm_plot("cgmPlot", times_str, cgm);
        });
    }


    $(document).ready(function () {
        update_plots(start_date_str, start_time_str, duration_hours);
        
        let start = to_date(start_date_str, start_time_str);

        $("[name=input_start_date]").val(date_to_ISO_datestring(start));
        $("[name=input_start_time]").val(date_to_ISO_timestring(start));
        $("[name=input_duration]").val('{{hours}}');
    });

    // Not currently in use
    function on_change() {
        let start_date = $("#input_start_date").val();
        let start_time = $("#input_start_time").val();
        let start = new Date(start_date + " " + start_time);
        console.log("switching to ", start);
        // Ajax would be nice, but then we could not bookmark, etc.
        // Maybe allow either, as a user preference?
        document.location = page_url(start_date, start_time, duration_hours);
    }

</script>
{% endblock %}
