{% extends "b.html" %}

{% block main_content %}

<h1>Insulin and CGM Plots</h1>

<h2>Starting at <span id="span_start_time">{{start_time}}</span>
    running for <span id="span_hours">{{hours}}</span> hours</h2>

<p>
<form method="GET" action="{{url_for('plots0')}}">
    <label>start date <input name="input_start_date" type="date"></label>
    <label>start time <input name="input_start_time" type="time"></label>
    <label>duration (hours) <input name="input_duration" type="number" min="1" max="24" step="1"></label>
    <input type="submit" value="change date/time/duration">
</form>
</p>

<p><form method="GET" action="{{url_for('plots0')}}"><input type="submit" value="latest"></form></p>

<div id="insulinPlot" style="width:100%;max-width:1024px"></div>
<div id="cgmPlot" style="width:100%;max-width:1024px"></div>

<script>
    // this URL is the bare URL. Need to concatenate the start datetime and duration
    const page_url_base = "{{url_for('plots0')}}";
    const data_url_base = "{{url_for('plot_data0')}}";


    // globals
    var start_date_str = "{{start_date}}";
    var start_time_str = "{{start_time}}";
    var start_datetime = to_date(start_date_str+" "+start_time_str);
    var duration_hours = {{hours}};

    function to_date(datetime_str, opt_timestr) {
        let dt_str = opt_timestr ? datetime_str + " " + opt_timestr : datetime_str;
        try {
            return new Date(dt_str);
        } catch (err) {
            console.error('Not a proper datetime str: ', datetime_str, opt_timestr);
            throw err;
        }
    }

    function date_to_ISO_datestring(date) {
        // dunno why this method doesn't exist
        const yyyy = date.getFullYear();
        const m = date.getMonth()+1;
        const mm = m<10?"0"+m:""+m;
        const d = date.getDate();
        const dd = d<10?"0"+d:""+d;
        return yyyy+'-'+mm+'-'+dd;
    }

    function date_to_ISO_timestring(date) {
        // dunno why this method doesn't exist
        const h = date.getHours();
        const m = date.getMinutes();
        return (h<10 ? "0"+h : ""+h)
            +":"
            +(m<10 ? "0"+m : ""+m);
    }

    // obsolete
    function to_start_datetime_str(start) {
        // argument is probably a string, but can also be a datetime object
        try {
            start = to_date(start);
            // sets the globals
            start_datetime = start;
            start_datetime_str = date_to_ISO_datestring(start)+" "+date_to_ISO_timestring(start);
            return start_datetime_str;
        } catch (err) {
            console.error('start is not a proper datetime: ',start);
            throw err;
        }
    }

    function to_duration(duration) {
        // should check that it's a small, positive integer
        try {
            if( (typeof duration === typeof 2) &&
                duration > 0 &&
                duration < 24 ) {
                // 
                duration = Math.round(duration);
                // set global
                duration_hours = duration;
                return duration;
            }
        } catch (err) {
            console.error('duration is not a small, positive integer: ',duration);
            throw err;
        }
    }

    function data_url(date, time, duration) {
        // to do: add debugging
        let start = new Date(date + " " + time);
        let start_date = date_to_ISO_datestring(start);
        let start_time = date_to_ISO_timestring(start);
        // finally, we get to work
        const slash = "/";
        return data_url_base + start_date + slash + start_time + slash + duration;
    }

    function page_url(date, time, duration) {
        // to do: add debugging
        let start = new Date(date + " " + time);
        let start_date = date_to_ISO_datestring(start);
        let start_time = date_to_ISO_timestring(start);
        // finally, we get to work
        const slash = "/";
        return page_url_base + start_date + slash + start_time + slash + duration;
    }

    // the response to the Ajax request; just for debugging
    var g;

    function datetime_to_minutes(datetime) {
        let date = new Date(datetime);
        return date.getHours()*60 + date.getMinutes();
    }

    function timesteps(startmin, endmin) {
        let vals = [];
        for(let mins = startmin; mins <= endmin; mins += 5) {
            vals.push(mins);
        }
        return vals;
    }

    function minutes_to_timestr(mins) {
        let hh = Math.floor(mins/60);
        let mm = mins - hh*60;
        hh = hh % 24;
        
        return (hh<10?"0"+hh:""+hh)
            +":"
            +(mm<10?"0"+mm:""+mm);
    }


    function update_insulin_plot(boluses, prog_basal, actual_basal, extended) {
        const trace_boluses = { x: times_str,
                                y: boluses,
                                type: "bar",
                                name: "bolus"};
        const trace_used_basal = {x: times_str,
                                  y: actual_basal,
                                  type: "line",
                                  name: "actual basal"};
        const trace_extended_bolus = {x: times_str,
                                      y: extended,
                                      type: "line",
                                      name: "extended bolus"};
        traces = [trace_boluses,
                  // trace_prog_basal,
                  trace_used_basal,
                  trace_extended_bolus
                 ];
        // Display using Plotly
        var data = [trace_boluses,
                    // trace_prog_basal,
                    trace_used_basal,
                    trace_extended_bolus
                   ];
        var layout = {title: "Insulin plot",
                      showlegend: true,
                      legend: {
                          x: 1,
                          xanchor: 'right',
                          y: 0}
                     };
        var config = {responsive: true};
        Plotly.newPlot("insulinPlot", data, layout, config);
    }

    function update_cgm_plot(cgm_values) {
        var trace_cgm_values = {x: times_str,
                                y: cgm_values,
                                type: "line",
                                name: "realtime CGM"};
        var config = {responsive: true};
        Plotly.newPlot("cgmPlot",
                       [trace_cgm_values],
                       {title: "realtime CGM plot",
                        showlegend: false},
                       config);
    }

    // global to hold Ajax response, to help in debugging
    var g;

    // globals, to share data and ease debugging
    var start_mins;
    var end_mins;
    var times; 
    var times_str;

    function update_plots(start_date, start_time, hours) {
        let start = to_date(start_date_str, start_time_str);
        start_mins = datetime_to_minutes(start);
        end_mins = start_mins + 60*hours;
        times = timesteps(start_mins, end_mins);
        times_str = times.map(minutes_to_timestr);
        // get data
        console.log("start date: ",start_date, "start_time:", start_time, "duration_hours:", duration_hours);
        const url = data_url(start_date, start_time, duration_hours);
        console.log('fetching data from ',url);
        $.get(url, function (resp) {
            g = resp;
            console.log('got ',resp);
            const [boluses, prog_basal, actual_basal, extended, cgm ] = resp;
            // ready to plot
            update_insulin_plot(boluses, prog_basal, actual_basal, extended);
            update_cgm_plot(cgm);
        });
    }


    $(document).ready(function () {
        update_plots(start_date_str, start_time_str, duration_hours);
        
        let start = to_date(start_date_str, start_time_str);

        $("[name=input_start_date]").val(date_to_ISO_datestring(start));
        $("[name=input_start_time]").val(date_to_ISO_timestring(start));
        $("[name=input_duration]").val('{{hours}}');
    });

    // Not currently in use
    function on_change() {
        let start_date = $("#input_start_date").val();
        let start_time = $("#input_start_time").val();
        let start = new Date(start_date + " " + start_time);
        console.log("switching to ", start);
        // Ajax would be nice, but then we couldn't bookmark, etc.
        // Maybe allow either, as a user preference?
        document.location = page_url(start_date, start_time, duration_hours);
    }

</script>
{% endblock %}
